@tailwind base;
@tailwind components;
@tailwind utilities;

.main-input:valid~.text-input,
.main-input:focus~.text-input {
    @apply text-black bg-white transform -translate-y-5 z-30 translate-x-[-20px]
}
.error {
    display: none;
}
.main-input:invalid[focused="true"] ~.error {
    display: block;

}



.why:last-child {
    background-color: #ff914d;
    color: white;
}

p{
    font-family: 'Poppins', sans-serif;

}