@tailwind base;
@tailwind components;
@tailwind utilities;

.main-input:valid~.text-input,
.main-input:focus~.text-input {
    @apply text-black bg-white transform -translate-y-5 z-30 translate-x-2
}

.why:last-child {
    background-color: #ff914d;
    color: white;
}

p{
    font-family: 'Poppins', sans-serif;

}